@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Oswald&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Schoolbell&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
h1 {
  font-size: 40px;
  padding-bottom: 10px;
}
body {
  text-align: center;
  margin: 0;
  padding: 0;
}
.blob-1 {
  background: radial-gradient(farthest-side, #fff 50%, #0000) 0 0/30px 30px
    no-repeat;
  animation: b1 2s infinite;
}
.blob-1:hover {
  background: radial-gradient(farthest-side, #fff 50%, #0000) 0 0/0px 0px
    no-repeat;
  animation: b1 2s infinite;
}
@keyframes b1 {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0;
  }
}
#divOption {
  font-size: 25px;
  font-weight: bold;
  align-items: center;
}
#solvingOption {
  font-weight: bold;
  align-items: center;
}

@media (min-width: 360px) {
  #solvingBoard {
    width: 360px;
    height: 360px;
    margin: 20px auto;
    background-color: white;
    flex-wrap: wrap;
    display: flex;
    font-family: Schoolbell;
  }
  #board {
    width: 360px;
    height: 360px;
    margin: 20px auto;
    background-color: white;
    flex-wrap: wrap;
    display: flex;
    font-family: Schoolbell;
  }
  .tile {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Schoolbell;
  }
  .input {
    align-items: center;
    border-style: hidden;
    background: rgba(54, 25, 25, 0.00004);
    width: 12px;
    height: 24px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    font-family: Schoolbell;
  }
  .startNumber {
    color: #b2beb5;
  }
  .blueTile {
    background-color: #28282b;
  }

  .button {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    line-height: 23px;
    outline: none;
    /* text-decoration: none; */
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    width: 70px;
  }
  .button:hover {
    box-shadow: rgba(138, 67, 67, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  .button:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
  }
  .randomButton {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;

    line-height: 23px;
    outline: none;

    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    width: 50px;
  }
  .randomButton:hover {
    box-shadow: rgba(253, 253, 253, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  .randomButton:focus {
    box-shadow: rgba(253, 253, 253, 0.3) 2px 8px 4px -6px;
  }
}
@media (min-width: 180px) {
  #solvingBoard {
    width: 180px;
    height: 180px;
    margin: 20px auto;
    background-color: white;
    flex-wrap: wrap;
    display: flex;
    font-family: Schoolbell;
  }
  #board {
    width: 180px;
    height: 180px;
    margin: 20px auto;
    background-color: white;
    flex-wrap: wrap;
    display: flex;
    font-family: Schoolbell;
  }
  .tile {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Schoolbell;
  }
  .input {
    align-items: center;
    border-style: hidden;
    background: rgba(54, 25, 25, 0.00004);
    width: 12px;
    height: 10px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    font-family: Schoolbell;
  }
  .startNumber {
    color: #b2beb5;
  }
  .blueTile {
    background-color: #28282b;
  }

  .button {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;

    line-height: 23px;
    outline: none;
    /* text-decoration: none; */
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    width: 70px;
  }
  .button:hover {
    box-shadow: rgba(138, 67, 67, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  .button:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
  }
  .randomButton {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;

    line-height: 23px;
    outline: none;

    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    width: 50px;
  }
  .randomButton:hover {
    box-shadow: rgba(253, 253, 253, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  .randomButton:focus {
    box-shadow: rgba(253, 253, 253, 0.3) 2px 8px 4px -6px;
  }
  #checkValidBoardButton {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    padding: 6px 0px;
    line-height: 23px;
    outline: none;
    /* text-decoration: none; */
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    width: 130px;
  }
  #checkValidBoardButton:hover {
    box-shadow: rgba(138, 67, 67, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  #checkValidBoardButton:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
  }
}
@media (min-width: 270px) {
  #solvingBoard {
    width: 270px;
    height: 270px;
    margin: 20px auto;
    background-color: white;
    flex-wrap: wrap;
    display: flex;
    font-family: Schoolbell;
  }
  #board {
    width: 270px;
    height: 270px;
    margin: 20px auto;
    background-color: white;
    flex-wrap: wrap;
    display: flex;
    font-family: Schoolbell;
  }
  .tile {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #36454f;
    font-family: Schoolbell;
  }
  .input {
    align-items: center;
    border-style: hidden;
    background: rgba(54, 25, 25, 0.00004);
    width: 12px;
    height: 24px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    font-family: Schoolbell;
  }
  .startNumber {
    color: #b2beb5;
  }
  .blueTile {
    background-color: #28282b;
  }
  .button {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    line-height: 23px;
    outline: none;
    /* text-decoration: none; */
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    width: 70px;
  }
  .button:hover {
    box-shadow: rgba(138, 67, 67, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  .button:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
  }
  #checkValidBoardButton {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    padding: 6px 0px;
    line-height: 23px;
    outline: none;
    /* text-decoration: none; */
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    width: 130px;
  }
  #checkValidBoardButton:hover {
    box-shadow: rgba(138, 67, 67, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  #checkValidBoardButton:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
  }
  .randomButton {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;

    line-height: 23px;
    outline: none;

    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    width: 50px;
  }
  .randomButton:hover {
    box-shadow: rgba(253, 253, 253, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  .randomButton:focus {
    box-shadow: rgba(253, 253, 253, 0.3) 2px 8px 4px -6px;
  }
}
@media (min-width: 450px) {
  #solvingBoard {
    width: 450px;
    height: 450px;
    margin: 20px auto;
    background-color: white;
    flex-wrap: wrap;
    display: flex;
    font-family: Schoolbell;
  }
  #board {
    width: 450px;
    height: 450px;
    margin: 20px auto;
    background-color: white;
    flex-wrap: wrap;
    display: flex;
    font-family: Schoolbell;
  }
  .tile {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #36454f;
    font-family: Schoolbell;
  }
  .input {
    align-items: center;
    border-style: hidden;
    background: rgba(54, 25, 25, 0.00004);
    width: 12px;
    height: 24px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: Schoolbell;
  }
  .startNumber {
    color: #b2beb5;
  }
  .blueTile {
    background-color: #28282b;
  }

  .button {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    line-height: 23px;
    outline: none;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    width: 90px;
  }
  .button:hover {
    box-shadow: rgba(138, 67, 67, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  .button:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
  }
  .randomButton {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    line-height: 23px;
    outline: none;

    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    width: 70px;
  }
  .randomButton:hover {
    box-shadow: rgba(253, 253, 253, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  .randomButton:focus {
    box-shadow: rgba(253, 253, 253, 0.3) 2px 8px 4px -6px;
  }
  #checkValidBoardButton {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    padding: 20px 0px;
    line-height: 23px;
    outline: none;
    /* text-decoration: none; */
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    width: 180px;
  }
  #checkValidBoardButton:hover {
    box-shadow: rgba(138, 67, 67, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  #checkValidBoardButton:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
  }
}
@media (min-width: 1280px) {
  #solvingBoard {
    width: 495px;
    height: 495px;
    margin: 20px auto;
    background-color: white;
    flex-wrap: wrap;
    display: flex;
    font-family: Schoolbell;
  }
  #board {
    width: 495px;
    height: 495px;
    margin: 20px auto;
    background-color: white;
    flex-wrap: wrap;
    display: flex;
    font-family: Schoolbell;
  }
  .tile {
    width: 55px;
    height: 55px;
    border: 1px solid black;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #36454f;
    font-family: Schoolbell;
  }
  .input {
    align-items: center;
    border-style: hidden;
    background: rgba(54, 25, 25, 0.00004);
    width: 12px;
    height: 24px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    font-family: Schoolbell;
  }
  .startNumber {
    color: #b2beb5;
  }
  .blueTile {
    background-color: #28282b;
  }

  .button {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    line-height: 23px;
    outline: none;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    width: 140px;
  }
  .button:hover {
    box-shadow: rgba(138, 67, 67, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  .button:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
  }
  .randomButton {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    line-height: 23px;
    outline: none;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    width: 70px;
  }
  .randomButton:hover {
    box-shadow: rgba(253, 253, 253, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  .randomButton:focus {
    box-shadow: rgba(253, 253, 253, 0.3) 2px 8px 4px -6px;
  }
}
